APP_NAME=nlp-savebuddy
APP_ENV=local
LOG_LEVEL=INFO
# QA Model
QA_MODEL_NAME=deepset/roberta-base-squad2
# Embeddings
EMBEDDING_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
# Thresholds
MATCH_THRESHOLD=0.5
